<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div>
  <p>Olá, {{name}}</p>
  <p>Parece que foi solicitado uma recuperação de senha para esse email</p>
  <p>Foi você? Se sim, clique no link abaixo para cadastrar uma nova senha</p>
  <p>
    <a href="{{link}}">Cadastrar uma nova senha</a>
  </p>
  <p>Se não foi você, por favor descarte este email</p>
  <p>
    Obrigado! <br/>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
